<script src="./../../assets/js/modal.js" defer></script>

<body>
    <div class="page-container">
        <nav class="navbar">
            <h1>JobFinder</h1>
            <div class="search-container">
                <form action="/candidato/vagas/buscar" method="GET">
                    <input type="text" name="q" class="search-input" placeholder="Buscar Vagas">
                    <button type="submit" class="search-button">Buscar</button>
                </form>
            </div>
            <ul class="navbar-menu">
                <li>
                    <a href="javascript:void(0)" onclick="abrirModalCandidatura()">
                        Minhas Candidaturas
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-card-checklist" viewBox="0 0 16 16">
                            <path
                                d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z" />
                            <path
                                d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0" />
                        </svg>
                    </a>
                </li>

                <li><a href="/candidato/perfil/{{candidatoId}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                        </svg>
                    </a></li>
            </ul>
        </nav>

        <main class="main-content">

            <h1>Vagas Disponives </h1>
            <div class="jobs-feed">
                <ul class="card-grid">
                    {{#if vagas.length}}
                    {{#each vagas}}
                    <li class="job-card">
                        <img src="{{imagem}}" alt="{{nome}}" class="job-image" />
                        <h2>{{nome}}</h2>
                        <p class="job-company">{{empresa.nome}}</p>
                        <p>{{area}}</p>
                        <button class="register-button"
                            onclick="abrirModalDetalhes('{{_id}}', '{{nome}}', '{{area}}', '{{requisitos}}', '{{empresa.nome}}', '{{imagem}}')">Ver
                            Vaga</button>
                    </li>
                    {{/each}}
                    {{else}}
                    <div class="no-data">
                        <p>Não existem vagas cadastradas.</p>
                    </div>
                    {{/if}}
                </ul>
            </div>
        </main>

    </div>

    {{!-- Modal candidatura --}}

    <div id="candidaturaModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="fecharModalCandidatura()">&times;</span>
            <h1>Minhas Candidaturas</h1>

            {{#if candidaturas.length}}
            <ul class="candidatura-list">
                {{#each candidaturas}}
                <li class="candidatura-item">
                    <h2>{{vaga.nome}}</h2>
                    <p><strong>Empresa:</strong> {{vaga.empresa.nome}}</p>
                    <p><strong>Status:</strong> {{status}}</p>
                    <form action="/candidato/{{../candidatoId}}/vagas/delete/{{_id}}" method="post">
                        <button type="submit">Cancelar candidatura</button>
                    </form>
                </li>
                {{/each}}
            </ul>
            {{else}}
            <p>Você ainda não se candidatou a nenhuma vaga.</p>
            {{/if}}
        </div>
    </div>

    {{!-- Ver detalhes da vagas --}}
    <div id="detalhesModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="fecharModalDetalhes()">&times;</span>
            <div id="detalhesConteudo"></div>
        </div>
    </div>

</body>